@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="my-2 my-lg-0 nav-link text-dark" asp-controller="User" asp-action="GetUserDetails" asp-route-Id="@UserManager.GetUserName(User)">Welcome @UserManager.GetUserName(User) </a>
    <a class="my-2 my-lg-0 pl-5 nav-link text-dark btn btn-link navbar-btn navbar-link" asp-controller="Authentication" asp-action="Logout">Logout </a>
}
else
{
    <a class="my-2 my-lg-0 nav-link text-dark" asp-controller="Authentication" asp-action="Register">Register </a>
    <a class="my-2 my-lg-0 pl-5 nav-link text-dark" asp-controller="Authentication" asp-action="Login">Login </a>
}
